
@model List<MissionTracking.Models.Files>
@{
    ViewBag.Title = "DownloadFiles";
}
<link href="~/Content/Layout/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Layout/ionicons.min.css" rel="stylesheet" />
<link href="~/Content/Layout/AdminLTE.css" rel="stylesheet" />
<link href="~/Content/Layout/_all-skins.min.css" rel="stylesheet" />
<link href="~/Content/toastr.min.css" rel="stylesheet" />
<link href="~/Scripts/fontawesome-free-5.8.1-web/css/all.min.css" rel="stylesheet" />
<link href="~/Scripts/fontawesome-free-5.8.1-web/css/fontawesome.min.css" rel="stylesheet" />
<link href="~/Content/datatables.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />


<h2>Files</h2>

<table id="dtable" class="table table-bordered table-responsive table-hover" style="background-color:white">
    <tr style="background-color:lightgreen">

        <th>Title </th>
        <th>Description</th>
        <th>Actions</th>
    </tr>

    @*@for (int i = 0; i <= Model.Count - 1; i++)*@
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @item.Title
        </td>

        <td>
            @item.Description
        </td>
        <td>
            @Html.ActionLink("download", "Download", new { filename = item.URL }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Delete", "FDelete", new { ID = item.FID }, new { @class = "btn btn-danger" })

        </td>
        @*<td>
            @Model[i].ToString()
        </td>
        <td>
            @Html.ActionLink("download", "Download", new { filename = Model[i].ToString() })
        </td>
        <td>
            @Html.ActionLink("Delete", "FDelete", new { FID = Model[i].ToString() })
        </td>*@

    </tr>
    }
</table>


@section scripts{

    <script src="~/Scripts/Layout/jquery.min.js"></script>
    <script src="~/Scripts/Layout/jquery-ui.min.js"></script>
    <script src="~/Scripts/Layout/bootstrap.min.js"></script>
    <script src="~/Scripts/Layout/jquery.slimscroll.js"></script>
    <script src="~/Scripts/Layout/adminlte.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/fontawesome-free-5.8.1-web/js/all.min.js"></script>
    <script src="~/Scripts/fontawesome-free-5.8.1-web/js/fontawesome.min.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#dtable").DataTable({
                "bLengthChange": false
            });
        });


    </script>

}